
.md-typeset h1 { margin: 1.5rem 0 0rem; }
.md-typeset h2 { margin: 1.0rem 0 0rem; }
.md-typeset h3 { margin: 0.75rem 0 0rem; }
.md-typeset h4 { margin: .5rem 0.5rem .125rem; font-size: 0.9rem;}

.md-typeset h1:first-of-type {
  font-weight: bold;
  margin-top: 0;
}

.md-typeset h1 + p,
.md-typeset h2 + p,
.md-typeset h3 + p { margin-top: .3rem; }

.md-typeset p,
.md-typeset ul,
.md-typeset ol,
.md-typeset table { margin: .4rem 0; }

.md-typeset a {
  color: lightsteelblue;
}

.md-typeset pre {
  display: none;
}

.toc-box {
  float: right;
  width: 18rem;
  margin: 0 0 1rem 1rem;
  position: sticky;
  top: 4.5rem;
  max-height: calc(100vh - 6rem);
  overflow: auto;
  border: 1px solid var(--md-default-fg-color--lighter);
  border-radius: 8px;
  padding: .75rem .9rem;
  background: var(--md-default-bg-color);
}
.toc-box ul { margin: .25rem 0; }
.toc-box li { margin: .1rem 0; }



.md-sidebar--secondary { display: none; }
.show-toc .md-sidebar--secondary { display: block; }


.md-typeset {
  line-height: 1.4;
  font-feature-settings: 'tnum';
}
.md-typeset p {
  font-size: 0.75rem;
}
.md-typeset li {
  font-size: 0.75rem;
}


h1 {
    margin: 0px 0px 0px 0px;
}


