.spell {
	background: rgba(180,180,180,0.05);
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 5px;
	padding: 4px;
	margin: 12px;
	line-height: 1.2;
	font-size: .7rem;
}
.spell h2 {
	margin-top: 0px;
}
.spell-content {
	display: flex;
}
.spell-columnleft {
	width: 25%;
	margin: 2px 8px 2px;
	font-weight: bold;
}
.spell-columncenter {
	width: 45%;
	margin: 2px 8px 2px;
}
.spell-columnright {
	width: 30%;
	margin: 2px 8px 2px;
}
.spell-casttype {
	font-weight: bold;
}
.spell hr {
	margin: 4px 0px 4px;
}

.spell li {
	font-size: .7rem;
	margin-bottom: 0 !important;
}


.skill {
	background: rgba(180,180,180,0.05);
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 5px;
	padding: 4px;
	margin: 12px;
	line-height: 1.2;
	font-size: .7rem;
}
.skill h2 {
	margin-top: 0px;
}
.skill-content {
	display: flex;
}
.skill-columnleft {
	width: 25%;
	margin: 2px 8px 2px;
	font-weight: bold;
}
.skill-columnright {
	width: 75%;
	margin: 2px 8px 2px;
}
.skill-type {
	font-weight: bold;
}
.skill hr {
	margin: 4px 0px 4px;
}

.skill li {
	font-size: .7rem;
}


.perk {
	background: rgba(180,180,180,0.05);
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 5px;
	padding: 4px;
	margin: 12px;
	line-height: 1.2;
	font-size: .7rem;
}
.perk h2 {
	margin-top: 0px;
}

.enchantment {
	background: rgba(180,180,180,0.05);
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 5px;
	padding: 4px;
	margin: 12px;
	line-height: 1.2;
	font-size: .7rem;
}
.enchantment h2 {
	margin-top: 0px;
}



.orgblock {	
	background: rgba(180,180,180,0.05);
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 5px;
	padding: 5px;
	margin: 8px;
}
.orgblock h2 {
	margin-top: 0px;
}
.orgblock h4 {
	margin-top: 0px;
}


.orgblock-transparent {
	border-style: dashed;
	border-width: 1px;
	border-color: black;
	border-radius: 5px;
	padding: 5px;
}
.orgblock-transparent h2 {
	margin-top: 0px;
}

.statusblock {	
	background: rgba(180,180,180,0.05);
	border-style: dashed;
	border-width: 1px;
	border-color: black;
	border-radius: 5px;
	padding: 5px;
	font-size: 0.6rem;
	margin: 0.5rem;
}
.statusblock h2 {
	margin-top: 0px;}
.statusblock h4 {
	margin-top: 0px;}
.statusblock li {
	font-size: 0.6rem;}



.home-links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 0.7rem;
}

.home-links-left {
	width: 50%;
}
.home-links-right {
	width: 50%;
}

.home-linkblock {
	background: rgba(180,180,180,0.05);
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 5px;
	padding: 10px;
}

.home-linkblock h2 {
	margin-top: 0px;
}
.home-linkblock h3 {
	margin-top: 0px !important;
}
.home-linkblock h4 {
	margin-top: 0px;
}


.class-main h2 {
	margin-top: 0;
	font-weight: bold;
}

.class-main-info {
	background: rgba(180,180,180,0.05);
	padding: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 8px;
	margin-top: 1rem;
}
.class-main-subinfo {
	font-size: 0.6rem;
}

.class-main-body {
	width: 100%;
}
.class-main-body li {
	margin-bottom: 0 !important;
}

.class-main-body-category {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 0.55rem;
}
.class-main-sub50 {
	width: 50%;
}
.class-main-sub33 {
	width: 33%;
}
.class-main-alias {
	font-style: italic;
}

.class-card {
	background: rgba(180,180,180,0.05);
	padding: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 8px;
	margin-top: 1rem;
}
.class-card h2 {
	margin-top: 0;
}
.class-card-body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.class-card-description {
	width: 70%;
}
.class-card-info {
	width: 25%;
	margin-left: 0.5rem;
	font-size: 0.55rem;
}
.class-card-body h4 {
	margin-top: 0.25rem !important;
}
.class-card-alias {
	font-size: 0.5rem;
	font-style: italic;
}


.subitem {
	margin-left: 0.36rem;
	padding: 0;
}